/*
-   sanskrit "भारीतय सभ्यत "
-   Designed | Develped by MayankDevil
-   https://github.com/MayankDevil/sanskrti 
-   CSS ./css/style.css
*/
*{
    margin:0;
    padding: 0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:#442433;
    text-decoration: none;
    font-weight: normal;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html
{
    scroll-snap-type: y mandatory ;
}
section
{
    scroll-snap-align: center;
    display: grid;
    place-content: space-evenly;
    min-height:80vh;
    /* border: 1px dotted #442433; */
}
body
{
    padding:0;
    display:grid;
    background: #ffefe4;
}
body .links
{
    display:block;
}
/*
    section css -------------------
*/
section
{
    max-width: 800px;
    margin: 10vh auto;
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
}
.shlok
{
    padding: 1rem;
    line-height: 3rem;
    font-size: 2rem;
    color:#ff8458;
    background:#fee4d3;
    border-radius: 1rem;
}
.arth
{
    font-size: 1.3rem;
    color:#6c757d;
}
.parivartan
{
    font-size: 1rem;
}
#main
{
    text-align: center;
}
#header
{
    min-height: 80vh;
}
#header div
{
    margin:5rem auto;
}
#header #logo
{
    width: auto;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 5.5rem;
    background: #fee4d3;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
#header a
{
    display: block;
    padding:1rem;
    line-height: 1rem;
    font-size: 1rem;
    color:#000;
    // border-bottom: 1px solid #442433;
}
#header a:hover
{
    font-weight: bold;
}
#footer
{
    padding: 1rem;
    font-size: 1rem;
    line-height: 3rem;
    border-top: 1px dotted #6c757d;
}
.container
{
    max-width: 1000px;
    margin: 0 auto;
}
/*
    ------------------------
    | responsive media CSS | 
    ------------------------
*/
@media screen and (max-widt:780PX)
{
    section div
    {
        width: 90vw;
    }
}
/*
    the end ================
*/
