/*
-   
-   Designed | Develped by MayankDevil
-   
-   CSS ./css/style.css
*/
*{
    margin:0;
    padding: 0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:#442433;
    text-decoration: none;
    font-weight: normal;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html
{
    scroll-snap-type: y mandatory ;
}
header,
footer,
section
{
    scroll-snap-align: center;
    display: grid;
    place-content: center center;
    height:100vh;
    /* border: 1px solid #343a40; */
}
body
{
    padding:0;
    display:grid;
}
section
{
    /* padding: 1rem; */
    background: #fffaf4;
}
section div
{
    max-width: 800px;
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
}
.shlok
{
    line-height: 3rem;
    font-size: 2rem;
    color:#ff8458;
    background:#fee4d3;
    border-radius: 1rem;
}
.arth
{
    font-size: 1.3rem;
    color:#6c757d;
}
.parivartan
{
    font-size: 1rem;
}
@media screen and (max-widt:780PX)
{
    section div
    {
        width: 90vw;
    }
}
/*
    the end ================
*/