/*
-   sanskrit "भारीतय सभ्यत "
-   Designed | Develped by MayankDevil
-   https://github.com/MayankDevil/sanskrti 
-   CSS ./css/style.css
*/
*{
    margin:0;
    padding: 0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:#442433;
    text-decoration: none;
    font-weight: normal;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html
{
    scroll-snap-type: y mandatory ;
}
section
{
    scroll-snap-align: center;
    display: grid;
    place-content: space-evenly;
    min-height:80vh;
    /* border: 1px dotted #442433; */
}
body
{
    padding:0;
    display:grid;
}
/*
    section css -------------------
*/
section
{
    max-width: 800px;
    margin: 10vh auto;
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
}
.shlok
{
    padding: 1rem;
    line-height: 3rem;
    font-size: 2rem;
    color:#ff8458;
    background:#fee4d3;
    border-radius: 1rem;
}
.arth
{
    font-size: 1.3rem;
    color:#6c757d;
}
.parivartan
{
    font-size: 1rem;
}

#header
{
    min-height: 100vh;
    background: #fff url(../data/4.jpg) no-repeat;
    background-size: contain;
    background-blend-mode:overlay;
}
/*
    ------------------------
    | responsive media CSS | 
    ------------------------
*/
@media screen and (max-widt:780PX)
{
    section div
    {
        width: 90vw;
    }
}
/*
    the end ================
*/